body{
    margin-top: 0;
    padding-top: 0;
}

main{
    padding-top: 0;
    height: 100%;
    font-family: 'Press Start 2P', cursive;
    background-size: cover;
    background-image: url(../img/background/bg2.jpg);
    animation: move 30s linear infinite;
    /*background-repeat: repeat-x;*/
    min-height: 100vh;
    width: 100%;
}

@keyframes move {
    from {
        background-position: 100vw 100%;
    }
    to {
        background-position: 1vw 100%;
    }
}

.container{
    padding-top: 60px;
}

button{
    font-size: 15px;
}

.options{
    margin-bottom: 40px;
}

#reset{
    margin-bottom: 40px;
    display: none;
}

img{
    height: 175px;
}

#result{
    font-size: 25px;
    margin-bottom: 75px;
}

p{
    font-weight: bold;
}
